<p id="notice"><%= notice %></p>
<%= content_tag_for(:article, post) do |post_data| %>
  <% present post_data do |post| %>
    <header>
      <h1> <%= link_to post.title, post_data %> </h1>
      <p class="align-right">  
        <%= post.information %>
      </p>
    </header>
    <p class='row post'>
      <%= post.html %>
    </p>
    <div class='row'>
      <div class='align-right'>
        <%= post.actions_for(current_user) %>
     </div>
    </div>
  <% end %>
<% end %>
