<!DOCTYPE html>
<head>
  <title>Tavern</title>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-fixed-top">  
    <div class="navbar-inner">  
      <div class="container-fluid">  
        <ul class="nav">  
          <li>  
            <%= link_to 'the tavern', root_path, :class => 'brand' %> 
          </li>  
        </ul>  
        <ul class="nav pull-right">  
          <li>
            <%= link_to 'New post', new_post_path, :class =>"btn" %>
          </li>
        </ul>
      </div>  
    </div>  
  </div>   

  <div class="container-fluid" id="contents">
    <%= yield %>
  </div>
</body>
</html>
